nav {
  height: 6rem;
  width: 100vw;
  background: var(--color-primary);
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

/* Só aparece em telas médias e pequenas */
.nav__toggle-btn {
  display: none;
}

.nav__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  width: 7rem;
}

.nav__links {
  display: flex;
  gap: 3.5rem;
  align-items: center;
}

.nav__links a {
  transition: var(--transition);
}

.nav__links a:hover {
  color: var(--color-secondary);
}

.active-nav {
  position: relative;
}

.active-nav::after {
  content: "";
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background: var(--color-primary);
  position: absolute;
  left: calc(50% - 0.6rem);
  transform: rotate(45deg);
  margin-top: 0.9rem;
}
