.values__container {
  display: grid;
  grid-template-columns: 38% 50%;
  gap: 12%;
}

.values__image {
  filter: saturate(0.4);
  transition: var(--transition);
  margin-top: 8rem;
}

.values__image:hover {
  filter: saturate(1);
}

.values__right {
  position: relative;
}

.values__right > p {
  margin: 1.5rem 0 5rem;
  position: relative;
}

.values__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.4rem 2.4rem;
}

.card.values__value {
  padding-top: 3.5rem;
  text-align: left;
  position: relative;
}

.card.values__value span {
  position: absolute;
  top: -1.5rem;
}

/* MEDIA QUERIES (medium screens) */
@media screen and (max-width: 1024px) {
  .values__container {
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 4rem;
  }

  .values__wrapper {
    gap: 4rem 3rem;
  }

  .values__image {
    display: none;
  }
}

/* MEDIA QUERIES (small screens) */
@media screen and (max-width: 600px) {
  .values__wrapper {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .card.values__value {
    width: 84%;
    margin-inline: auto;
  }
}

/* MEDIA QUERIES (big screens) */
@media screen and (max-width: 1665px) {
  .values__image img {
    width: 30rem;
    height: 21rem;
  }
}

/* MEDIA QUERIES (big screens) */
@media screen and (max-width: 1225px) {
  .values__image img {
    width: 25rem;
    height: 18rem;
  }
}
