.trainers {
  margin-top: 5rem;
}

.trainers__h1 {
  margin-bottom: 3rem;
  text-align: center;
}

.trainers__container {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
  gap: 4rem;
}

.trainer {
  color: var(--color-gray-200);
}

.card.trainer {
  padding: 1rem;
}

.trainer__img {
  border-radius: 0 2rem;
  overflow: hidden;
  margin: auto;
}

.trainer p {
  margin-top: 0.5rem;
}

.trainer h3 {
  margin-top: 05rem;
}

.trainer__socials {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.trainer__socials a {
  font-size: 0.7rem;
  background: var(--color-gray-600);
  padding: 0.8rem;
  border-radius: 0.7rem;
  transition: var(--transition);
}

.trainer:hover a {
  background: var(--color-gray-500);
}

/* MEDIA QUERIES (medium screens) */
@media screen and (max-width: 1024px) {
  .trainers__container {
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }

  .trainer__img img {
    width: 20rem;
    height: 20rem;
  }
}

/* MEDIA QUERIES (small screens) */
@media screen and (max-width: 600px) {
  .trainers__container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .card.trainer {
    width: 90%;
    margin-inline: auto;
  }

  .trainer__img img {
    width: 15rem;
    height: 15rem;
  }
}
